<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="shortcut icon" href="../public/img/logo.ico">
</head>
<body>

    <header>
		<div class="wrapper">
			<div class="logo">
                <img src="../public/img/logo.png" alt="">
            </div>
			
			<nav>
				<a href="http://localhost:3040/Proyectos">Mis proyectos</a>
				<a href="http://localhost:3040/contacto">Contacto</a>
				<a href="http://localhost:3040/Redes">Redes Sociales</a>
			</nav>
		</div>
	</header>
    <nav id="home">
        <ul id='navhom'>
            <h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam saepe, earum pariatur iusto dolores cum autem reiciendis explicabo nostrum atque, neque consequuntur eligendi. Reiciendis laborum, sunt voluptatum praesentium autem optio.

                Bienvenido a mi primer proyecto web. Los siguientes referentes son conocidos por la trayectoria en la programacion (????????)
            </h1>
            <section class='container'>
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/babbage">
                       <img src="../public/img/1.jpg" alt="bababge"></a>
                       <h4>Charles Babbage</h4>
                 </div>       
            </div> 
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/berners-lee">
                       <img src="../public/img/2.jpeg"></a>
                       <h4>Berners Lee</h4>
                 </div>       
            </div> 
             
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/clarke">
                       <img src="../public/img/JoanClarke.png"></a>
                       <h4>JoanClarke</h4>
                 </div>       
            </div>   
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/hamilton">
                       <img src="../public/img/4.jpeg"></a>
                       <h4>Margaret Hamilton</h4>
                 </div>       
            </div> 
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/hopper">
                       <img src="../public/img/5.jpg"></a>
                       <h4>Grace Murray Hopper</h4>
                 </div>       
            </div>   
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/lovelace">
                       <img src="../public/img/6.jpg"></a>
                       <h4>Lovelace</h4>
                 </div>       
            </div>  
            <div class="babbage">
                <div class='card'>
                   <a href="http://localhost:3040/turing">
                       <img src="../public/img/7.jpg"></a>
                       <h4>Turing</h4>
                 </div>       
            </div>     

        </section>
    </nav>


</body>
</html>