<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <img src="../public/img/6.jpg" alt="">
    <h1>Lovelace</h1>
    <p>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
    <a href= / target="#">Inicio</a>
</body>
</html>