<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <img src="../public/img/7.jpg" alt="">
    <h1>Turing</h1>
    <p> Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​ Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
    <a href= / target="#">Inicio</a>
</body>
</html>

